.Section1 {
    width: 100%;
    border: 2px solid #1d2b27;
    border-radius: 1px 1px 20px 1px;
    margin-bottom: 10px;
}
.Section1 img {
    height: 700px;
}

.Section2 {
    width: 100%;
}
.Section2_1 {
    float:left;
    display: inline-block;
    width: 20%;
    border: 2px solid #1d2b27;
    text-align: center;
    height: 150px;
    color: white;
    margin: 10px;
    border-radius: 1px 20px 1px 1px ;
    box-shadow: 1px 1px 1px 1px white;
}
.Section2_1 p {
    font-size: 10px;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
    padding-top: 4px;
    font-weight: 100;
}
.Section2_1_1 {
    border: 1px solid #33ffff;
    height: 120px;
    margin: 5px;
    overflow: hidden;
}
.Section2_1_1 img {
    height: 90%;
}
.Section2_1_1 p {
    color: #33ffff;
    font-size: 10px;
    padding: 1px 2px 1px 4px;
    font-weight: 700;
}

.for1 {
    width: 95%;
    height: 150px;
    border: 1px solid #1d2b27;
    border-radius: 10px;
    margin: auto;
}
.for1 p {
    text-align: left;
    font-size: 9px;
    padding-top: 120px;
    padding-left: 10px;
    color: #33ffff;
    font-weight: 600;
}
.for2_title {
    background-color: #24423b;
    width: 200px;
    margin: 10px;
    border-radius: 10px 10px 1px 1px ;
    color: aqua;
    font-size: 13px;
    height: 40px;
    margin-bottom: 3px;
}
.for2_All {
    border: 1px solid #1d2b27;
    border-radius: 5px;
    height: 220px;
    width: 70%;
    float: left;
    margin-left: 10px;
}

.rig {
    width: 200px;
    display: inline-block;
    float: left;
}
.rig h2 {
    color: white;
    height: 40px;
    margin: 15px;
    padding-top: 10px;
    cursor: pointer;
}
.rig h3 {
    background-color: aqua;
    color: black;
    border-radius: 5px 1px 5px 5px;
    height: 40px;
    margin: 15px;
    padding-top: 10px;
    cursor: pointer;
}
.rig h3:hover {
    background: none;
    color: aqua;
    border: 1px solid aqua;
}
.rig h4 {
    border: 1px solid aqua;
    border-radius: 5px 1px 5px 5px;
    height: 40px;
    margin: 15px;
    color: aqua;
    font-size: 13px;
    padding-top: 10px;
    cursor: pointer;
}
.rig h4:hover {
    background-color: aqua;
    color: #05100f;
}

.pu {
    height: 40px;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    margin-top: 175px;
}
.lef {
    border: 1px solid white;
    float:left;
    display: inline-block;
    width: 25%;
    border: 1px solid white;
    text-align: center;
    height: 150px;
    color: white;
    margin: 5px;
    border-radius: 1px 20px 1px 1px ;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.card {
    border: 1px solid #33ffff;
    height: 70%;
    margin: 5px;
    overflow: hidden;
}
.li span{
    border: 1px solid white;
    padding: 2px 4px 2px 4px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.li span:hover {
    color: aqua;
}
.il {
    float: left;
    padding: 2px 4px 2px 4px;
    margin-top: 2px;
    color: white;
    width: 150px;
    display: inline-block;
}
@media screen and (min-width:1260px) {
    .il {
        margin-left: -200px;
    }
}
.il i {
    border: 2px solid aqua;
    color: aqua;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
}
.il i:hover {
    color: white;
    border: 2px solid aqua;
}
.card img {
    height: 90%;
}
.card p {
    color: #33ffff;
    font-size: 10px;
    padding: 1px 2px 1px 4px;
}
.lef p {
    font-size: 10px;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
    padding-top: 4px;
}

.for2_2 {
    border: 1px solid #1d2b27;
    width: 25%;
    display: inline-block;
    height: 220px;
}
.for2_2 i {
    display: inline-block;
    width: 10%;
    font-size: 7px;
    color: aqua;
    margin-top: 3px;
}

.for2_2 h5 {
    border: 1px solid aqua;
    color: aqua;
    width: 85%;
    float: right;
    font-size: 12px;
    padding: 3px;
    margin: 1px;
    border-radius: 1px 1px 5px 1px ;
    margin-bottom: 1px;
}
.for2_2 h3 {
    color: #1d2b27;
    border: 1px solid #1d2b27;
    height: 30px;
    border-radius: 5px;
    width: 90%;
    border-radius: 5px 50px 20px 5px;
    padding: 3px;
    margin: 4px;
    margin-top: 9px;
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: 900;
}
.h3_1 {
    background-color: aqua;
    color: black;
    font-weight: 900;
    transition-duration: 2s;
    transition-property: background-color;
}
.for2_2 h3:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
}

.for3 {
    width: 95%;
    margin: auto;
    border: 1px solid #1d2b27;
    height: 230px;
    margin-top: 30px;
}
.for3 i {
    color: #41ff4b;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 23px;
}
.for3 h2 {
    display: inline-block;
    margin-top: 10px;
    margin-left: -20px;
}
.for3 h3 {
    display: block;
    font-size: 33px;
}
.card_2 {
    border: 1px solid white;
    display: inline-block;
    width: 120px;
    border: 1px solid white;
    text-align: center;
    height: 150px;
    color: white;
    margin: 5px;
    border-radius: 1px 20px 1px 1px ;
    margin-top: 10px;
    margin: auto;

}
.card_2 {
    border: 1px solid #33ffff;
    height: 120px;
    margin: 5px;
    overflow: hidden;
}


.man_img img {
    height: 90%;
}
.man_img p {
    color: #33ffff;
    font-size: 10px;
    padding: 1px 2px 1px 4px;
}
.card_2 p {
    font-size: 10px;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
    padding-top: 4px;
}
.man_img i {
    font-size: 50px;
    color: aqua;
    padding-left: 10px;
}
.man_img span {
    font-size: 4px;
    margin: 1px;
}
.for4 {
    width: 95%;
    margin: 10px;
}

.for4_1 {
    border: 1px solid #1d2b27;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    font-size: 13px;
    border-radius: 5px;
}
.color1 {
    color: #1d2b27;
}
.for4_2 i{
    font-size: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.for4_2 span {
    text-align: left;
}
.for4_2 p {
    color: #41ff4b;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}
.for4_2 i:hover {
    color: #41ff4b;
    transition-duration: 5s;
    transition-property: color;
    cursor: pointer;
}

.for4_2 {
    margin: auto;
    border: 1px solid #1d2b27;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}



@media screen and (min-width:1px) and (max-width:700px) {
    .child {
        width: 100%;
        float: none;
    }
    .parent {
        width: 100%;
    }
    .Section1 img {
        width: 90%;
        height: auto;
    }
    .Section2_1 {
    /* float: left; */
    display: inline-block;
    border: 2px solid #1d2b27;
    text-align: center;
    height: 150px;
    color: white;
    margin: 5px;
    border-radius: 1px 20px 1px 1px;
    box-shadow: 1px 1px 1px 1px white;
    width: 80px;
}
.lef {
    display: none;
}
.the_rig span {
    margin-left: 1px;
    padding: 1px;
}
}
.for2_2 h3 {
    margin-top: 7px;
}

.card {
    border: 1px solid #33ffff;
    margin: 5px;
    overflow: hidden;
    height: 70%;
}
#img2 {
    display: inline-block;
    width: 20%;
    height: 100px;
}

@media screen and (max-width:1260px) {
    .Section1 img {
        height: 100%;
        width: 100%;
    }
    .pu {
        margin-top: 180px;
    }
    .il i {
        font-size: 13px;
    }
    .Section2_1 {
        width: 35%;
    }
    .card_2 {
        width: 40%;
        height: 100px;
    }
    .for3 h3 {
        font-size: 23px;
    }
    .for2_2 h3 {
        font-size: 5px;
    }
    .for2_2 h5 {
        font-size: 9px;
    }
    .for2_2 h3 {
        margin-top: 3px;
    }
    .wolf1 pre {
        font-size: 9px;
        text-align: center;
        margin: auto;
        margin-left: -40px;
    }
}

